# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# OS Files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Logs
*.log